# Entorno virtual
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.so

# Archivos de Jupyter
.ipynb_checkpoints/

# Configuraciones de VSCode
.vscode/

# Archivos de entorno
.env
*.env